.background-helper {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.background {
  width: 100%;
  height: 100vh;
  background: url('./landing_page_pic1.jpg') no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.menuLink {
  color: royalblue !important;
  text-align: center;
  border : 2px solid #e0e0e0;
  border-radius: 5px;
  border-color: royalblue;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 8px 27px;
  display: block;
  font-size: 20px;
  text-decoration: none !important;

}
.menuLink:hover {
  color: #fff!important;
  background-color: royalblue !important;
  border-color: royalblue !important;

}

.menuBar {
  position: absolute;
  width: 100%;
}
.loginForm {

}
.loginForm div:focus {
  outline: 0 none;
}
.loginForm label {
  left: 0;
  right: auto;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  bottom: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -ms-flex-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-transform: translate3d(0,40px,0) scale(1);
  transform: translate3d(0,40px,0) scale(1);
  transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  max-width: 100%;
  font-size: 20px;

}
.loginForm input {
  border: 0 !important;
  border-bottom: 2px solid #e0e0e0 !important;
  font-size: 20px;
  outline: 0 none;
  width: 100%;
  box-shadow: 0 0 0 1000px #FFF inset!important;
}

.loginForm input:focus {
  border-bottom: 2px solid #5bc0de !important;
  transition: border-bottom 0.3s linear;
  outline: 0 none;
}
.transform{
  transform: translate3d(0, 15px, 0) scale(.75) !important;
}
.border-r {
  border-right: 2px solid #000;
}
.submitButton {
  border: 2px solid #DC143C;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  border-radius: 20px;
  height: 40px;
  font-size: 20px;
}
.submitButton:hover {
  background-color: #DC143C;
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s, linear;
}
.submitButton:hover span {
  color: #FFFFFF;
}
.submitButton:focus {
  outline: 0 none;
}
.submitButton span {
  color: #DC143C;
}
.loginContainer {
  padding-top: 50px;
}
.warning {
  color: red;
}
.socialMediaContainer {
  margin-top: 25px;
}
.facebookBox {
  color: #3b5998;
  border: solid 2px #3b5998;
  width: 300px;
  text-align: center;
  height: 48px;
  font-size: 23px;
  line-height: 2;
  margin: 10px auto;
  background-color: #FFFFFF;
}
.gmailBox {
  color: #d34836;
  border: 2px solid #d34836;
  width: 300px;
  text-align: center;
  height: 48px;
  font-size: 23px;
  line-height: 2;
  margin: 10px auto;
  background-color: #FFFFFF;

}
